<% title "Api/Devices" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for device in @devices %>
    <tr>
      <td><%= device.name %></td>
      <td><%= link_to "Show", [:api, device] %></td>
      <td><%= link_to "Edit", edit_api_device_path(device) %></td>
      <td><%= link_to "Destroy", [:api, device], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Api/Device", new_api_device_path %></p>
